{% load i18n %}
<style>
/* Убрать стрелки в number-поле */
    input[type=number].no-spinner::-webkit-inner-spin-button,
    input[type=number].no-spinner::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number].no-spinner {
        -moz-appearance: textfield; /* Firefox */
    }
</style>

<div class="row g-3">
    <div class="col-12">
        <input type="text" name="q" class="form-control" placeholder="{% trans 'Должность, город, страна' %}" value="{{ search_query }}">
    </div>
    <div class="col-6 col-md-3">
        <select name="work_type" class="form-select">
            <option value="">{% trans 'Тип занятости' %}</option>
            {% for val, label in work_choices %}
                <option value="{{ val }}" {% if work_type_selected == val %}selected{% endif %}>{% trans label %}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-6 col-md-3">
        <select name="work_time" class="form-select">
            <option value="">{% trans 'Время работы' %}</option>
            {% for val, label in work_time_choices %}
                <option value="{{ val }}" {% if work_time_selected == val %}selected{% endif %}>{% trans label %}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-6 col-md-3">
        <input type="number" name="min_salary" class="form-control no-spinner" 
           placeholder="{% trans 'ЗП от' %}" value="{{ min_salary }}"
           min="0" max="999999999" step="1" oninput="validity.valid||(value='');">
    </div>
    <div class="col-6 col-md-3">
        <input type="number" name="max_salary" class="form-control no-spinner" 
           placeholder="{% trans 'ЗП до' %}" value="{{ max_salary }}"
           min="0" max="999999999" step="1" oninput="validity.valid||(value='');">
    </div>
</div>