{% load i18n %}
<h2>
    {% blocktrans with name=vacancy.name %}    Отклик на вакансию: {{ name }} {% endblocktrans %}
</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="anketa">{% trans "Выберите анкету:" %}</label>
        <select name="anketa" id="anketa" class="form-select" required>
            {% for anketa in ankets %}
                <option value="{{ anketa.id }}">{{ anketa.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">{% trans "Отправить" %}</button>
    <a href="{% url 'api:vacancy_detail' vacancy.id %}" class="btn btn-secondary">{% trans "Назад" %}</a>
</form>